<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Addnewpassword</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg     sticky-top">
        <a class="navbar-brand text-white" href="/home">Password Management</a>

        <button class="navbar-toggler  navbar-light bg-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Password Catagerious</a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="/addnewcategerious">Add New Catagerious</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/viewallcategerious">View All Catagerious</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Password Details</a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="/addnewpassword">Add New Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/viewallpasswords">View All Password</a>
                    </div>
                </li>

            </ul>

        </div>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-outline-success my-2 ml-auto border-white text-white" href="/users/logout">Log out</a>

        </div>
    </nav>


    <span class="userName">Welcome user -: <%=session.userName%></span><br>

    <section>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class=" col-lg-3   col-md-3  col-sm-3 col-xs-12">

                </div>

                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                    <div class="card w-100">
                        <div class="card-header">
                            Add New Password
                        </div>
                        <div class="card-body">
                            <form method="post" action="/users/addnewpassword">


                                <div class="form-group">

                                    <label for="exampleFormControlSelect1" class="font-weight-bolder">Catagery
                                        Name</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="categoryName">
                                        <%  
                                                if(categories.length!=0)
                                                {
                                                     for(category of categories)
                                                     {
                                                    
                                                %>

                                        <option value="<%=category.categoryName%>"><%=category.categoryName%></option>

                                        <%
                                                     }
                                               }
                                            else
                                            {
                                                %>
                                        <option>No category found!!!! (Please add category)</option>
                                        <%
                                            }
                                                            %>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label for="validationCustom03">UserName</label>
                                    <input type="text" class="form-control"  name="userName" id="validationCustom03"
                                        placeholder="User name" required>
                                 
                                    <%
                                    if(!(errors==null))
                                    {
                                          if(errors.userName!=undefined)
                                         { 
                                             %>          
                                    <p style="text-align:left;color:red">!!! <%= errors.userName.msg%> </p>
                                    <%}
                                    }
                                    %>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password"  name="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <%
                                
                                if(!(errors==null))
                                { 
                                      if(errors.password!=undefined)
                                      {
                                    %>
                                <p style="text-align:left;color:red">!!! <%= errors.password.msg%> </p>
                                       <% }
                                }
                                %>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Url(optional)</label>
                                    <textarea class="form-control"  name="url" placeholder="Provide your website login url for this username and password"  id="exampleFormControlTextarea1" rows="1"></textarea>
                                  </div>
                            
                            
                                <%
                                if(!(sucess==null))
                                {
                                    %>
                                <p style="text-align:left;color:green"><%=sucess%> </p>
                                <%
                                }
                                %>
                                <button type="submit" class="btn btn-primary">Add Details</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                </div>

            </div>
        </div>



    </section>
    <footer>


    </footer>




























    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>