<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Viewallcategerious</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <%- include('header')%>

    <section>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class=" col-lg-1   col-md-12  col-sm-12 col-xs-12">

                </div>

                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">UserName</th>
                                <th scope="col " class="text-center">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <%
                                          var no=0;
                                          if(passwords.length==0)
                                          {
                                              %>
                            <tr>
                                <td colspan="4" style="text-align:center;color:red;"><b>!!!!! No Password Found</b></td>
                            </tr>
                            <%  
                                          }
                                
                                          else
                                        {
                                            for(password  of passwords)
                                            {
                                                         
                                               no++;
                                                %>
                            <tr>
                                <th scope="row"><%=no%></th>
                                <td><%=password.categoryName%></td>
                                <td><%=password.categoryUserName%></td>
                                <td class="action">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#exampleModal<%=password.categoryName%>">
                                        <span class="material-icons">
                                            remove_red_eye
                                        </span>
                                        view
                                    </button>
                                    <a href="/users/editpasswords/<%=password._id%>" class="edit">
                                        <span class="material-icons edit">
                                            create
                                        </span>
                                        edit
                                    </a>

                                    <a href="/users/deletepasswords/<%=password._id%>"
                                        onclick="return confirm('Are you sure to delete this')" class="delete">
                                        <span class="material-icons delete">
                                            delete
                                        </span>
                                        delete
                                    </a>
                                </td>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal<%=password.categoryName%>" tabindex="-1"
                                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    <%=password.categoryName%></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <span
                                                    class="font-weight-bold">userName:-</span><%=password.categoryUserName%><br>
                                                <span
                                                    class="font-weight-bold">password:-</span><%=password.password%><br>
                                                <span class="font-weight-bold">url:-</span><a href="<%=password.url%>"
                                                    target="_blank"><%=password.url%></a><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>





                            </tr>
                            <%
                                           }
                                        }

                            %>


                        </tbody>
                    </table>


                </div>

                <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">

                </div>

            </div>
        </div>



    </section>
    <%- include('footer')%>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>